*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.student-table{
  width: 100%;
  margin-inline: 0.5rem;
  border-radius:5px;
  padding: 0% !important;
  margin-bottom: 1rem;
}
.student-table tr th{
  padding: .5rem;
}
.student-table tr td{
  padding: .5rem;
}
.student-table .table-head{
 width: 100%;
}