.admin-dashboard-card-container {
    width:98%;
    height: 7vw;
 display: grid;
 grid-template-columns: repeat(4,minmax(0,1fr));
    margin-block: 1rem;
    column-gap: 5px;
    margin-inline: auto;
 }

 .admin-dashboard-card {
   width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
    display: grid;
    grid-template-columns: 30% 70%;
 }
 .admin-dashboard-card div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-dashboard-card1 {
   background-color: yellow !important;
   color: black;
}
.admin-dashboard-card2 {
   background-color: green !important;
   color: white;
}

.admin-dashboard-card3 {
   background-color: red !important;
   color: white;
}

.admin-dashboard-card4 {
   background-color: blue !important;
   color: white;
}
.admin-dashboard-card .MuiSvgIcon-root{
   width: 100%;
   height: 100%;
}
 .admin-dashboard-card img{
    width: 100%;
    object-fit: cover !important;
    background-position: center;
}