.container
{
    width: 100%;
    height: 32rem;

    margin-inline: auto;

    /* background-color: rgb(1, 1, 33); */
    color: white;
   /* overflow: hidden; */
   border-radius: 0.5rem;
   margin-inline: auto !important;
   border-radius: 5px;
   margin-top: -5rem;

}

.sub_container
{
    margin: auto !important;
   display: grid !important;
   grid-template-columns: repeat(1,minmax(0,1fr));
   border-radius: 5px;

}




.image
{
    width: 100%;
    height:32rem;

}

@media (max-width:600px) {
    .container
    {
        width: 100% !important;
    }
}