.container{
   flex: 1;
   background-color: rgba(33, 122, 122, 0.238);
   padding: 2rem;
   flex-direction: column;
}
.form{
   height: auto;
   display: flex;
   background-color: rgba(0, 0, 0, 0.137);
   flex-direction: row;
   flex-wrap: wrap;
   width: auto;
   width: 100%;
   /* align-items: center; */
}
.inputRow {
   width: 45%;
   flex-direction: 'row';
   justify-content: 'space-between';
   margin: 0.1rem;
}
.inputSelectRow  {
   width: 45%;
   display: flex;
   flex-direction: column;
   /* flex-wrap: wrap; */
   /* justify-content: 'flex-start'; */
   align-items: flex-start;
   margin-inline: 24;
   margin-block: 4;
   padding: .5rem;

}

.inputSelectRow  label{
 
   color: 'white';
   font-size: 18;
   padding-block: 4px;
   font-weight: 500;
   /* float: left; */

}
.inputSelectRow  select{
   color: 'white';
    font-size: 14px;
    padding: .5rem;
    background-color: white;
    border-radius: .5rem;
    border: none;
    color: 'black';
    min-width: 75%;

}
.inputSelectRow  select option{
   color: 'white';
    font-size: 14px;
    padding: .5rem;
    background-color: white;
    border-radius: .5rem;
    border: none;
    color: 'black';
    min-width: 75%;

}

.label{
   font-size: 18px;
   width: 100%;
}

 .errorMessageContainer{
     padding:.6rem;
     justify-content:center;
     align-items:center;
     background-color: red;
     color: white;
     width: 80%;
     border-radius: 5px;
 }
 .errorMessage{
     color:"red";
     font-size:14;
 }
.buttonContainer{
   padding-inline: 0.5rem;
   justify-content: flex-start;
   align-items: flex-end;
   display: flex;
   padding: 0.5rem;

}
 .button{
   background-color: green;
   padding-inline: 1rem;
   padding-block: .5rem;
   border-radius: 5px;
   border: none;
   margin: 0.1rem;
   color: white;
   font-weight: 500;
   font-size: 15px;
 }

 .button:hover{
   background-color: transparent;
  border: 1px solid green;
  color: black;
  cursor: pointer;
 }

 /* table */

 .tableContainer{
   background-color: white;
   padding: .3rem;
   margin-inline: auto;
   margin-block: 1rem;
}

.table{
  width: 100%;
}

.table thead{
   background-color: darkblue;
   color: white;
}
.table tbody tr {
   border-bottom: 5px solid black;
}
.table tr:hover{
   background-color: rgba(0, 0, 139, 0.447);
   color: white;
}

.table th,.table td{
   padding: .5rem;
}
 