*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/** 
  Breakpoints:
  ------------
  sm: min-width: 640px; //small device
  md: min-width: 768px; // medium device
  lg: min-width: 1024px; // large device
  xl: min-width: 1280px; // extra large device
  2xl: min-width: 1536px; // 2 x extra large device
**/


.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 86.5vh;
    /* min-height: 200vh; */

    margin-inline: auto;
    width: 100%;
    position: relative;
    background-color: rgba(0, 255, 255, 0.237);

 }

 .teacher_table {
    width: 85%;
    height: auto;
    scroll-behavior: auto;
    margin-inline: auto !important;
 
 }
 .teacher_table .table_container{
  display: flex;
  flex-direction: column;


}
.teacher_table .list_container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
  background-color: white;
  text-align: left;
  margin-inline: auto;

}
.teacher_table .list_container h1{
  text-align: left;
  padding-block: 0.5rem;
  background-color: white;
  margin-block: 0.3rem;
  padding-left: 1rem;

}
.teacher_table .list_container ol{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  margin-inline: auto;
}
.teacher_table .list_container ol li::marker{
  text-align: center !important;
}
 .teacher_table table{
    width: 100%;
    height: auto;
    scroll-behavior: auto;
    margin-inline: auto !important;
    background-color: white;
    padding-inline: 2rem;
 }

 .teacher_table .table_container h1{
  text-align: left;
  padding-block: 0.5rem;
  background-color: white;
  margin-block: 0.3rem;
  padding-left: 1rem;
 }
 .teacher_table table tr:first-child{
    color: darkblue;
    text-align: left;
 }
 .teacher_table table tr{

    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
 }

 .teacher_table table tr:not(:last-child){

    margin-bottom: 1rem;
 }
 
 .teacher_table table tr:not(:first-child){
    border-bottom: 1px solid rgba(137, 43, 226, 0.44);
    color: darkblue;

 }

 .teacher_table table tr:first-child td{
    border-bottom: 1px solid rgba(137, 43, 226, 0.44);
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    font-size: 20px;
 
 }

.teacher_table table tr:not(:first-child):hover{
  /* border: none; */
    color: black;
    border-color: yellow;
  cursor: pointer;
}

 .teacher_table table tr th {
    padding: 1rem;
  text-align: center;


  }

 .teacher_table table td {
   padding: .5rem;
   text-align: center;

  
 }




 
@media screen and (max-width:900px) {
  .teacher_table table tr th {
     padding: .5rem;
     font-size: 10px !important;
   }
   .teacher_table table tr td {
     font-size: 10px !important;
   }
}

@media screen and (max-width:600px) {
  .teacher_table table tr th {
     font-size: 8px !important;
   }
   .teacher_table table tr td {
     padding: 1px;
     font-size: 8px !important;
   }
   .teacher_table table .desc {
     overflow: hidden;
     padding-inline: 5%;
   }
   .teacher_table table td img{
     width: 40px;
     height: 40px;
  }
}

@media screen and (max-width:600px) {
  .teacher_table table tr th {
     font-size: 8px !important;
   }
   .teacher_table table tr td {
     padding: 1px;
     font-size: 8px !important;
   }
   .teacher_table table .desc {
     overflow: hidden;
     padding-inline: 5%;
   }
   .teacher_table table td img{
     width: 30px;
     height: 30px;
  }
}

@media screen and (max-width:480px) {
  .teacher_table table tr th {
     font-size: 5px !important;
   }
   .teacher_table table tr td {
     padding: 1px;
     font-size: 5px !important;
   }
   .teacher_table table .desc {
     overflow: hidden;
     padding-inline: 5%;
   }
   .teacher_table table td img{
     width: 20px;
     height: 20px;
  }
}