
.student-table{
  width:98% !important;
  /* width:100% !important; */
  border-radius:5px;
  margin-bottom: 1rem;
}
.student-table tr th{
  padding: .5rem;
}
.student-table tr td{
  padding: .5rem;
}
